<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.study.mapper.ManageMapper">
	<resultMap type="com.study.po.Manage" id="baseResult">
		<id property="id" column="id" jdbcType="int" />
		<result  property="userName" column="userName" />
		<result  property="passWord" column="passWord" />
		<result  property="realName" column="realName" />
	</resultMap>

	<sql id="manage_field">
		id,userName,passWord,realName
	</sql>
	
	<sql id="manage_insert">
		#{id},#{userName},#{passWord},#{realName}
	</sql>
	
	<sql id="manage_where">
		<if test="id != null">
			id = #{id}
		</if>
		<if test="userName != null">
			,userName = #{userName}
		</if>
		<if test="passWord != null">
			,passWord = #{passWord}
		</if>
		<if test="realName != null">
			,realName = #{realName}
		</if>
	</sql>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into manage(<include refid="manage_field"></include>) values(<include refid="manage_insert"></include>)
	</insert>
	
	<delete id="deleteById" >
		delete from manage where id=#{id}
	</delete>
	
	<delete id="deleteByEntity" >
		delete from manage where 1=1
		and 
		<include refid="manage_where"></include>
	</delete>
	
	<delete id="deleteByMap" >
		delete from manage where 1=1
		and 
		<include refid="manage_where"></include>
	</delete>
	
</mapper>